* {
  margin: 0;
  padding: 0;
  /* direction: rtl; */
}

.App {
  height: 100vh;
  background-color: #f5f5f5;

  display: grid;
  place-items: center;
}

.wrraper {
  width: 500px;
  height: 200px;
}

.custom-class {
  border: 2px solid red;
}

.custom-class-item > div {
  height: 100%;
  font-size: 3rem;

  display: grid;
  place-items: center;

  border: 1px solid black;
}
