* {
  margin: 0;
  padding: 0;
  /* direction: rtl; */
  box-sizing: border-box;
}

.Slider {
  height: 100vh;
  background: #00111a;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Slider .wrraper {
  width: 100%;
  padding-inline: 100px;

  box-shadow: 0 0 2px 0 #aae3ff;
}

.Slider .wrraper > div {
  border: 2px solid red;
}

.Slider .custom-class-item {
  display: grid;
  place-items: center;
  background: #00111a;
  border: 5px solid purple;
}

.Slider .custom-class-item > div {
  height: 200px;
  width: 100%;

  background: #00111a;
  color: #aae3ff;

  font-size: 3rem;

  display: grid;
  place-items: center;

  box-shadow: 0 0 2px 0 #aae3ff;
  border: 5px solid green;
}
