/*
  v0.5
*/

.react-carousel__wrraper {
  --btn-arrow-bg: 0, 0, 0;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.react-carousel {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-y: hidden;
}
.react-carousel__item {
  min-width: 100%;
  flex: 1;
}

.react-carousel__arrow {
  --color: rgba(0, 0, 0);
  --bg: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  height: 100%;
  width: 5%;
  border: none;
  outline: none;
  color: var(--color);
  background-color: var(--bg);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.react-carousel__arrow.--left {
  left: 0;
  right: auto;
}
.react-carousel__arrow.--right {
  left: auto;
  right: 0;
}
.react-carousel__arrow:last-child {
  transform: rotate(180deg);
}

.react-carousel__dots {
  --size: 10px;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}
@media (prefers-color-scheme: dark) {
  .react-carousel__dots {
    --color: rgba(255, 255, 255, 0.2);
    --hover-color: rgba(255, 255, 255, 0.4);
    --active-color: rgb(255, 255, 255, 0.8);
  }
}
@media (prefers-color-scheme: light) {
  .react-carousel__dots {
    --color: rgba(0, 0, 0, 0.2);
    --hover-color: rgba(0, 0, 0, 0.4);
    --active-color: rgb(0, 0, 0, 0.8);
  }
}
.react-carousel__dots > button {
  border: none;
  outline: none;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color);
}
.react-carousel__dots > button:hover {
  background-color: var(--hover-color);
}
.react-carousel__dots > button.--active {
  background-color: var(--active-color);
}
